.vs/Seal/v14/.suo
Seal.Fody/obj/
packages/
Seal.Fody/bin/
Seal.Test/obj/
Seal.Test/bin/
Seal.TestAssembly/obj/Debug/Seal.TestAssembly.pdb
Seal.TestAssembly/obj/
Seal.TestAssembly/bin/Debug/Seal.TestAssembly.dll
Seal.TestAssembly/bin/Debug/Seal.TestAssembly.pdb
Seal.TestAssembly/bin/Release/
Seal.TestAssembly/bin/
